.chat-body {
  height: 289px;
  overflow: auto;
}
.chat-body__time {
  letter-spacing: 1px;
  clear: both;
  font-size: 9px;
  font-weight: bold;
  text-align: center;
  color: #828282;
  display: block;
  margin-bottom: -10px;
}
