.Chat-body {
  height: 289px;
  overflow: auto;
}
.Chat-body__data {
  letter-spacing: 1px;
  clear: both;
  font-family: 'Open Sans', sans-serif;
  font-size: 9px;
  font-weight: bold;
  text-align: center;
  color: #828282;
  display: block;
  margin-bottom: -10px;
}
