.Footer {
  border-top: #e5e5e5 1px solid;
  background-color: white;
  height: 62px;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
}
.Footer__input-text {
  font-family: OpenSans, sans-serif;
  font-size: 12px;
  text-align: left;
  display: inline-block;
  margin: 7px 0 0 16px;
  border: transparent;
  box-sizing: border-box;
}
.Footer__input-text:focus {
  outline: none;
}
.Footer__input-text::placeholder {
  color: #cdcdcd;
  font-weight: 600;
}
.Footer__icons {
  width: 16px;
  height: 16px;
  float: left;
}
.Footer__icons_picture {
  background: url("../img/Picture.svg") no-repeat;
  margin: 10px 0 12px 16px;
}
.Footer__icons_gif {
  background: url("../img/Gif.svg") no-repeat;
  width: 21px;
  height: 16px;
  margin: 9px 0 13px 10px;
}
.Footer__icons_smile {
  background: url("../img/Smile.svg") no-repeat;
  margin: 9px 0 13px 10px;
}
.Footer__icons_calendar {
  background: url("../img/Calendar.svg") no-repeat;
  height: 18px;
  margin: 7px 0 13px 10px;
}
.Footer__icons_camera {
  background: url("../img/Camera.svg") no-repeat;
  width: 21px;
  height: 17px;
  margin: 8px 0 13px 10px;
}
